# Google app engine project name
PROJECT = ""

# for Flask- required for sessions
SECRET_KEY = ""

# Information about the Cloud Task queue we use for parsing feeds
PODCAST_PARSING_QUEUE_NAME = ""
PODCAST_PARSING_QUEUE_LOCATION = ""

# Information about the Cloud Storage used for storing podcasts
PODCAST_STORAGE_BUCKET = ""
PODCAST_STORAGE_DIRECTORY = ""

# Chunk size when downloading from source and uploading into partitioned blobs on
# Google.  In BYTES.  Used to limit the amount of disk space (and thus memory on Google)
# used when running on the free tier of cloud services.
STREAM_UPLOAD_CHUNK_SIZE = 5*1024*1024

# If the podcast RSS feed is not visited in X DAYS, then delete it.
PODCAST_EXPIRATION_DAYS = 30

# If the episode is older than X DAYS, then delete it.
EPISODE_EXPIRATION_DAYS = 90

# NOT from Google
# Used to ensure that Task URLs aren't started by robots or others on the web.
# A hack around the need for IAM and other more complex credentials in the
# Python 3 App Engine environment.
TASK_API_KEY = ""
