# Google app engine project name
PROJECT = ""

# for Flask- required for sessions
SECRET_KEY = ""

# Information about the Cloud Task queue we use for parsing feeds
PODCAST_PARSING_QUEUE_NAME = ""
PODCAST_PARSING_QUEUE_LOCATION = ""

# Information about the Cloud Storage used for storing podcasts
PODCAST_STORAGE_BUCKET = ""
PODCAST_STORAGE_PREFIX = ""

# NOT from Google
# Used to ensure that Task URLs aren't started by robots or others on the web.
# A hack around the need for IAM and other more complex credentials in the
# Python 3 App Engine environment.
TASK_API_KEY = ""