{% extends 'base.html' %}

{% block content %}
    <ul>
        {% for podcast in podcasts %}
            <li>
                <a href="{{ url_for("podcast", user_uid=podcast.user_uid, podcast_id=podcast.id) }}">
                    {{ podcast.title }}
                </a>
                <ul>
                    {% for link in podcast.links %}
                        <li>{{ link.url }} ({{ link.parser }})</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

