{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="left-column">
            <form method="post" action=".">

                {% if yaml_error %}
                    <div class="error-msg">Sorry, but your YAML was incorrectly formatted.  Please confirm in an online parser before submitting.
                    </div>
                    <pre>{{ traceback }}</pre>
                {% endif %}

                <textarea name="yaml" rows="30" cols="50">{{ podcast_yaml }}</textarea>

                <br />
                <button onclick="javascript: window.history.go(-1); return false;">Cancel</button>
                <input type="submit" value="Update" />
            </form>
        </div>
        <div class="right-column">
            The YAML file should be a list of hashes.  Each hash must have the following fields:
            <ul>
                <li>Name: the podcast name</li>
                <li>Description: podcast description (not used)</li>
                <li>Links: a YAML list of hashes.  Each of which has:
                    <ul>
                        <li>URL: Location of the podcast</li>
                        <li>Parser: The type of parser to use on the podcast and media.</li>
                    </ul>
                </li>
            </ul>

            Example:<br/>
            <pre>
- title: Econtalk
  description: Fascinating interviews by an economist.
  image: http://fake.com/image.jpg
  links:
  - url: http://files.libertyfund.org/econtalk/EconTalk.xml
    parser: rss
  - url: https://www.youtube.com/channel/UCWNVDDLiexqiHNULPQ3kGxg
    parser: youtube-audio

- title: MMABeat
  description: The classiest of MMA podcasts
  image: http://fake.com/image2.jpg
  links:
  - url: play.google.com
    parser: rss
            </pre>
        </div>
    </div>
{% endblock %}

