{% extends 'base.html' %}

{% block content %}
    <ul>
        {% for podcast in podcasts %}
            <li>
                <a href="{{ url_for("podcast", user_uid=podcast.user_uid, podcast_id=podcast.id) }}">
                    {{ podcast.feed.title }}
                </a>
                (<a href="{{ url_for("podcast_edit", user_uid=podcast.user_uid, podcast_id=podcast.id) }}">edit</a>)
                <ul>
                    <li>{{ podcast.url }}</li>
                    <li>{{ podcast_types[podcast.podcast_type].name }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

